[2022-02-08 10:59] karwa commented on #531
I'm starting to think that would work best as a separate document. It would need a reference implementation and its own comprehensive test-suite; essentially being another URL standard. What's more is that I'm not sure how many implementations would actually want this. I'm not convinced the use-cases are entirely clear.

I've seen HTTP routing mentioned as a major use-case, but HTTP origin-form re

[2022-02-08 14:50] alwinb commented on #531
Strange reply

[2022-02-08 19:40] karwa commented on #531
@alwinb So far, the most convincing use-case that I've seen is that somebody on the NodeJS issue wanted to construct relative references. OK, that's a thing.

But does that require the full complexity of the URL parser and all the work that you've done to establish a formal grammar and theory of URLs (which is certainly very interesting, don't get me wrong)? I'm not sure that it does. I think we c

[2022-02-08 21:54] becarpenter commented on #392
There's a new draft at [https://www.ietf.org/archive/id/draft-carpenter-6man-rfc6874bis-03.html](https://www.ietf.org/archive/id/draft-carpenter-6man-rfc6874bis-03.html).

[2022-02-09 00:17] alwinb commented on #531
URLs are that simple datastructure that contain the broken down components. And this is about coming up with an API for that.

I know the standard well enough to say that the hacks _can_ be described in a clean way. The differencess with RFC3987 are painfully small.

And I was hoping to come up with a very simple API.

I reject that story line. I was pushed into this position and had no other choi

[2022-02-09 14:41] alwinb commented on #531
I am no longer interested in sharing my expertise with the WHATWG.

[2022-02-09 20:04] zamfofex commented on #531
I wanted to note that Alwin Blok’s implementation is fairly concrete and does pass most (if not all) of the WPT tests. I feel like the spec is really cleanly written, and in my opinion is much clearer to follow than the WHATWG spec. (Now, this is not to dissmiss the WHATWG’s spec and their efforts, but I feel like the way Alwin’s spec is laid out makes it much easier to follow for me.)

I do not w

[2022-02-09 21:31] karwa commented on #531
Right, so the question I was raising is whether that data structure even needs to be a URL record. Unlike what Alwin says, URLs are _not_ simply a data structure of broken-down components which users can manipulate willy-nilly. There are internal invariants which must be upheld to ensure that, for example, serialising that URL record and parsing it again results in an equivalent URL record.

That

[2022-02-09 21:40] karwa commented on #531
Oh, and one more thing: the WPT tests are known to have some significant gaps. Passing them is certainly an encouraging sign, but far from definitive. It is an ongoing process to improve their coverage of the standard.

[2022-02-09 22:33] zamfofex commented on #531
That is all fair enough.

Though I will note that a lot of what is described in Alwin’s spec doesn’t need to be exposed by an API. It can serve only as a mechanism for the spec itself to talk about URLs and describe them.

Personally, I feel like the way URLs were modeled and described in Alwin’s spec makes it clearer to follow it. You can read the description of the operations therein, and it’s i

[2022-02-12 11:36] alwinb commented on #531
Alright, I am going to do my best to answer all the questions, so that I don't leave you hanging like this.

Apart from the separate document, I agree with this. Therefore, I have written a new specification very carefully, so that it agrees with the current standard, and I have created a reference implementation. The reference implementation currently passes all of the wpt tests except for 6 IDNA

[2022-02-12 11:56] zamfofex commented on #531
@alwinb: Just one more question: More concretely, how would you propose a change to the existing APIs in the WHATWG spec?

You have come up with a really nice specification, and your implementation works well, but when it comes down to proposing a direct change (or addition) to the existing shipped `new URL(...)` API from browsers, what do you think would be a succinct way to incorporate relative

[2022-02-12 15:46] alwinb commented on #531
A new class may be unavoidable unless serious trade-offs are made. On the other hand it will be possible to use the new API (with additional methods) to exactly replicate the behaviour of the existing API.

[2022-03-20 21:24] becarpenter commented on #392
The IETF 6MAN WG has just formally adopted our document [draft-ietf-6man-rfc6874bis-00](https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-00.html). All we need are developers who understand all the places where URLs are parsed (there are probably several) and where the actual socket calls are made. I'm glad to help if developers contact me.

[2022-03-21 01:34] becarpenter commented on #392
BTW, this bug was closed in June 2018 based on arguments at [https://www.w3.org/Bugs/Public/show_bug.cgi?id=27234#c2]( https://www.w3.org/Bugs/Public/show_bug.cgi?id=27234#c2). Those arguments were against various features of RFC6874. The new draft is quite different and (if published as an RFC) will remove all those annoying features.

[2022-03-31 14:07] lonr commented on #531
I vote for [RelativeURL](https://github.com/nodejs/node/issues/12682#issuecomment-298132639) (or named [URLPathAndHash](https://github.com/whatwg/url/issues/531#issuecomment-836753269), or [URLAbsolutePath](https://github.com/nodejs/node/issues/12682#issuecomment-315924535)).
I made an [implementation](https://github.com/lonr/href). It uses code from jsdom/whatwg-url but parses URLs from the path

[2022-04-09 05:21] becarpenter commented on #392
New version of the draft published: [https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-01.html](https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-01.html).
Among other things it adds an interesting Microsoft Windows 10 use case.

[2022-04-21 20:03] domenic opened #690 "Opaque hosts: realistic examples and origins?"
What are some realistic examples of URLs that use [opaque hosts](https://url.spec.whatwg.org/#opaque-host)? I.e., nonempty strings that are not domains or IP addresses, but appear in the host position. The spec doesn't seem to contain any. An artificial example might be something like `my-scheme://opaque-string/path`, but I'm unaware of what kind of protocols might use this in the wild. If any exi

[2022-04-21 22:19] karwa commented on #690
Origins are kind of interesting, and I've been meaning to bring up this whole idea of opaque origins for a while. I did a bit of research on it because the current specification doesn't make a lot of sense and seems to miss some trends which could simplify the model.

I wish I could give some citations, but it's been a while and I can't find everything right now. Basically, the key impression I wa

[2022-04-21 22:42] domenic commented on #690
I agree with this.

The problem is that computing an origin from a URL is key for Fetch to determine whether a given fetch will be cross-origin or same-origin. So that computation-from-URL mapping needs to be defined somewhere that can be shared by at least Fetch and HTML, and URL seems like the place it's ended up.

I think you're right, this is weird. In practice I think opaque origins computed

[2022-04-21 23:22] karwa commented on #690
You could do that; you just need to figure out a way to plug-in to HTML and Fetch's application-specific security context calculation.

Basically, I think the model should be (or really, de-facto already is):

1 - Check to see if the scheme is known to the standard. Yes? -> Tuple origin. No? Continue.

2 - Application-defined heuristics to try establish a security context, perhaps calling register

[2022-04-22 06:57] annevk commented on #690
Some thoughts:

* I think a more ideal layering would probably move origin completely out of URL and have an API for it that throws on unknown schemes, which would make extensions a little safer.
* For new schemes it very much depends how we compute the origin, see `blob:` URLs for a good example of that. So I don't think we can have a general rule.
* If we add a new scheme to the web platform, I

[2022-04-22 13:08] karwa commented on #690
Just to be clear: I **do** think it makes sense for two nested documents to the same `data:` URL to not share an authority.

The thing that doesn't make sense is that there is a concept of having the "same opaque origin". Opaque origins mean we don't know what the origin is (the URL scheme is not known), so we can't really call them the same as anything. Currently, we have this concept of a 'new'

[2022-04-22 15:15] domenic commented on #690
Does anyone have any examples of opaque-host URLs in the wild?

[2022-04-22 17:12] annevk commented on #690
@karwa same opaque origin becomes relevant if the `data:` URL document creates a `blob:` URL worker. The `data:` URL and the `blob:` URL will share an origin (and authority) in that case. You could special case a bunch of things throughout, but I think the current setup is actually quite nice.

@domenic according to https://en.wikipedia.org/wiki/List_of_URI_schemes there are a number of them. Don'

[2022-04-22 17:19] domenic commented on #690
Perfect, I should have thought of looking there. Probably the most common is `git://github.com/user/project-name.git`. I'll try to send a PR adding that example to the spec somewhere, since otherwise the opaque host concept was a bit too alien for me to grasp.

[2022-04-23 09:28] agowa338 commented on #577
@mnot any update on this? Was it implemented? Should this ticket be reopened? I'm also interested in this.

[2022-04-23 09:39] mnot commented on #577
I just left a comment with some context; I don't know that anything else has happened.

[2022-04-26 07:48] #690 closed

[2022-04-29 08:23] annevk opened #692 "PSL references broken"
It seems that https://publicsuffix.org/list/ got updated to remove the algorithm that was present there...

cc @dnsguru

[2022-04-29 08:29] annevk opened #693 "Can a registrable domain or public suffix have a trailing dot?"
Normally `example.com.` and `example.com` are considered distinct origins, but https://github.com/publicsuffix/list/wiki/Format#formal-algorithm suggests

they might be considered same-site? That seems wrong to me and I would expect a trailing dot to be preserved as we preserve it everywhere else.

Neither URL nor HTML has trailing dot examples so I'm not sure if we explicitly considered this befo

[2022-04-29 13:07] annevk commented on #693
Well, one way of reading the above is that if you pass in `example.com.`, its public suffix is `com`, not `com.`. (I'm not sure if that's what led to the error in Fetch, per https://github.com/whatwg/fetch/pull/1257 it might just be oversight, but I justified it not listing "`localhost.`" to myself at least once because of that.)

[2022-04-29 15:53] annevk commented on #693
Thanks, so I think what we should do here is update the two caller algorithms in https://url.spec.whatwg.org/#host-miscellaneous to preserve a trailing dot in the input in the output. And on top of that we should at least add one example that illustrates trailing dot preservation and ideally also update the same site examples with one example to illustrate the mismatch.

[2022-04-29 17:54] domenic commented on #692
https://github.com/publicsuffix/list/wiki/Format#format seems to be the new home

[2022-05-02 20:16] dnsguru commented on #692
Hi y'all - yeah we moved it - was hard to track "parallel evolution"

[2022-05-02 20:21] dnsguru commented on #692
The PSL Algorithm can be found here: https://github.com/publicsuffix/list/wiki/Format#formal-algorithm

[2022-05-03 08:09] #692 closed

[2022-05-03 08:09] #693 closed

[2022-05-03 11:23] karwa commented on #341
I apologise for the bump, and I'd be happy to open a new issue if that would be better. But I've also encountered an issue with the UTS46 tests.

Is anybody successfully using the latest version of the tests?

For example, I've been getting error "P1". That corresponds to [processing step 1](https://www.unicode.org/reports/tr46/#Processing), the mapping table. The specific test that was failing wa

[2022-05-03 12:17] annevk commented on #341
I'm not sure. According to https://jsdom.github.io/whatwg-url/#url=aHR0cHM6Ly/iiaAuLw==&base=YWJvdXQ6Ymxhbms= it seems that browsers and the reference implementation agree for that input (it becomes "`xn--1ch.`").

@macchiati @srl295 @markusicu could you perhaps help us out with these tests or providing guidance on how to best provide feedback on them? Thanks!

[2022-05-03 14:41] domenic commented on #341
Note that per https://github.com/jsdom/whatwg-url/issues/239 (also by @karwa) it seems we might not be able to trust the reference implementation for this sort of thing :cry:.

https://jsdom.github.io/whatwg-url/#url=aHR0cDovL3huLS1sczhoPT09Lw==&base=YWJvdXQ6Ymxhbms= (from that issue) is another interesting case, where Chrome/Firefox/reference implementation all differ.

[2022-05-04 09:30] annevk commented on #695
Apologies for dropping the ball here. The Public Suffix List (I assume you meant to write that) is a list of public suffixes, informally speaking. When that list is processed for practical usage, the U-labels will have been converted to ASCII, which is what the URL Standard is asserting.

I don't think there's any problem here so closing this, but do let me know if I got it wrong somehow and there

[2022-05-04 09:30] #695 closed

[2022-05-06 01:58] karwa commented on #341
Hmm, I also found what I believe to be an ambiguity in UTS46, which is causing actual implementation divergence, so I sent a Unicode Error Report for that to be clarified.

I think it underscores why integrating these tests in to the WPT is important, and aligns with the overall goal of minimising divergence and promoting interoperability. As we well know, the standards are not perfect, implementa

[2022-05-06 13:36] annevk commented on #341
Thank you @karwa. Really appreciate the time you are putting into this.

[2022-05-11 02:40] brainstorm commented on #230
Good read!

I suspect that to standardize this "+" scheme convention you'd have to go for [RFC8615](https://www.rfc-editor.org/rfc/rfc8615) and generate a ton of URI scheme drafts for IANA for all possible combinations which will in high likelihood be rejected by "the experts" (as noted in that RFC)?:

https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml

Pointing this out since I've bee

[2022-05-22 23:57] aucampia commented on #479
Any updates on this?

[2022-05-24 08:08] alwinb commented on #479
@aucampia, it is a solved problem. The differences between whatwg URL and IRI are  minor, but they are very subtle and tricky to get right. Feel free to send me a message directly if you are interested.

Changes to the Whatwg standard are unlikely to be made because the differences cannot be harmoniously incorporated without, essentially rewriting it.

Specifically, at its very inception there has

[2022-05-24 13:29] karwa commented on #479
@alwinb

Please don't question the motivations of anybody contributing to this standard. This kind of hostile language ("the Whatwg is increasingly crippling itself by a distaste for anything and anyone that reminds them of the more formal or theoretic") really isn't appropriate.

I mentioned previously that the IETF email thread was shockingly hostile, and it put me off wanting anything to do wit

[2022-05-24 17:55] zamfofex commented on #479
@alwinb: I believe your work is splendid, but please stop trying to villainize the WHATWG. I feel like your points would be taken much more carefully if you worded them less aggressively.

As I said in another thread, I feel like people should work together to solve the issues that they deem relevant. There might be disagreement in what issues are deemed relevant (and there is room to converse abo

[2022-05-24 23:37] mnot commented on #479
Apparently villianising the IETF is still cool. @karwa could you please provide a link so we know what you're referring to?

[2022-05-25 10:51] karwa commented on #479
@mnot There was a link previously to a 2012 email thread when I believe this standard was first created. I'd rather not repeat it because it isn't important, but it seemed to me that Anne received a very unfair amount of pushback, primarily due to the choice of venue (WHATWG vs IETF). It was relatively heated, I would say. Especially after reading Larry Masinter's [summary](https://datatracker.iet

[2022-05-25 11:26] aucampia commented on #479
To me it is not solved really, it may be solvable, but if I want to figure out what to put in a grammar to describe a URL I need to have a grammar for a URL, and given there is no such grammar it is not solved. Of course this could be mostly my problem and WHATWG can see it outside of their scope, but it is none the less something I want and I'm not sure it is an unreasonable desire. I'm not an ac

[2022-05-25 13:54] alwinb commented on #479
@aucampia there is.

I’ve worked on a formal grammar and added support for relative references in a way that is compatible with the WHATWG URL standard. I put an immense amount of time and effort into that. I did so because of the statement in the standard that it obsoletes the RFCs and I wanted to be thorough and up to date. I didn’t know that there was a conflict with the IETF.

It doesn’t matte

[2022-05-31 13:30] ShaneHudson commented on #335
I'm not sure the correct way to give an "indication of common need" but I would like to add my voice to those expecting `delete(key, value)` to be an option.

To give a concrete use case:

A query string containing filters that can have multiple. Such as `?author=Alice&author=Bob`. Originally these were used as a single value `?authors=alice-bob` but for various reasons (including querystring on N

[2022-06-13 19:24] jasnell opened #696 "Proposal: URL.parseIPv4() URL.parseIPv6()"
I've had a few discussions with folks (most recently at the OpenJS World conference in Austin last week) about the possibility of exposing the IPv4/IPv6 parser included in the URL parser via static functions on the `URL` class, e.g. something like a `URL.parseIPv4(input)` and `URL.parseIPv6(input)`. The intent is to both validate and normalize the input (e.g. validate that an IPv6 address is confo

[2022-06-14 07:37] annevk commented on #696
So ip-regex would return "not IPv4" for https://jsdom.github.io/whatwg-url/#url=aHR0cHM6Ly8x77yOMS4xLjEv&base=YWJvdXQ6Ymxhbms= (note the ． (U+FF0E)), but the host parser would return an IPv4 address. A standalone `parseIPvv4` might also return "not IPv4" if it directly invokes the IPv4 parser. That seems problematic.

Can you elaborate on why `URLHost` would not satisfy these use cases?

[2022-06-14 13:54] jasnell commented on #696
It *might*... Just really not certain about the current status of `URLHost`. As I said, I'm really not all that concerned about the actual API, just the use case. I would suggest, however, that the additional object allocation with `new URLHost(...)` is not strictly needed in every case -- that is, it seems wasteful if all I really want is a simple true/false check to see if it's a valid ipv6 or n

[2022-06-14 14:34] annevk commented on #696
Do the use cases want _potentialIPv6String_ -> boolean or _potentialHostString_ -> _hostTypeEnum_? I could also see _potentialHostString_ -> null or _serializedHostString_, though the downside of string-in-string-out is that you cannot hand out type information at the same time, so we probably still want `URLHost`, even if we add some static conveniences.

Anyway, I think this idea is reasonable,

[2022-06-14 15:36] jasnell commented on #696
Sounds reasonable. I think a `hostString -> hostTypeEnum` would cover the low-cost `is this an ipv4` or `is this an ipv6` use case with no problem.

[2022-06-18 14:28] nox commented on #379
FWIW as part of my work I've found some requests using unencoded curly braces and double quotes in URIs' paths. I think it's an NVIDIA update tool or something.

See that test in the Rust crate httparse: https://github.com/nox/httparse/blob/8bd42db76543dee9f7e172d3f14a6666530f220c/tests/uri.rs#L3682-L3693

[2022-07-01 22:57] eligrey commented on #163
Lack of a built-in size getter results in developers writing code like this:

[code]

as opposed to this (more efficient, but harder to read):

[code]

A size getter could be optimized by the JS implementation so that `searchParams.size !== 0` checks could be more efficient than `[...searchParams].length !== 0`.

[2022-07-02 02:04] karwa commented on #696
I've been adding host-parsing APIs to my Swift library recently to handle these kinds of use-cases. There really are [a lot of edge-cases](https://github.com/karwa/swift-url/blob/0d5e2b25046303ee15060b3b2627f0fc9e8c60fc/Tests/WebURLTests/HostTests.swift#L382) to go through, so it truly does need the whole host parser every time. For example, not only do IPv4 addresses get parsed after IDNA, that a

[2022-07-04 00:43] sis6326r commented on #335
Now 50 upvotes. This would be realy handy feature :)

[2022-07-10 23:10] Querulant opened #697 "Unofficial draft"
https://url.spec.whatwg.org/commit-snapshots/4ef812c07d5f04c1316659146ef91ff8f7e96b38/#host-equivalence

Hello I wanted to authenticate my two Public Keys and had to find out that both were converted into an Interface ! I found an unofficial draft that might fix the Problem again. Best regards Querulant https://mikewest.github.io/credentialmanagement/usecases/

[2022-07-13 19:45] michael-o commented on #577
http+uds:///path/to/socket?

[2022-07-13 22:04] agowa338 commented on #577
(@thx1111 ":/" would be a valid filename on jfs...)

I think there are only two acceptable solutions:
* Using an adoption of the IPvFuture syntax from RFC3986 Section 3.2.2 like @cyanogilvie already mentioned `http://[v1.uds:/tmp/mysock]/foo/bar`
* A syntax similar to: `http+unix:///path/to/socket//resource/path`, where "+unix" is a modifier for the url schema that specifies a different parsing sc

[2022-07-14 06:32] michael-o commented on #577
True, my bad. One could use exclamation mark just like Java uses to address resources inside a JAR with a URL.

[2022-07-14 06:53] agowa338 commented on #577
Exclamation mark would still be a valid char that could be within a path...

`http://[v1.uds:/tmp/mysock]/foo/bar` is probably really the best one that is unambiguous. Even though `[]` are valid characters 🤔

`http://[v1.uds:/tmp/foo[1234]/barfoo]/socket]/foo/bar/foo[1234]/bar[5678]`

Ok, never mind...

[2022-07-14 07:10] rkjnsn commented on #577
The double slash to separate the socket path from the resource path is an interesting idea. I think square brackets are fine, though. Having `]` in a socket path is uncommon, so saying that any such character in the socket path needs to be escaped / URL encoded shouldn't be very onerous.

[2022-07-14 08:00] agowa338 commented on #577
But then we'd need to have either the whole socket path URL encoded. Or also need to escape `\` within the socket path.
`\` is also a valid character on non windows systems...

[2022-07-14 11:31] avakar commented on #577
@thx1111 This does not conform to RFC 3986, port must be comprised of DIGITs.

[2022-07-15 07:38] jgrisham commented on #222
Updated link for the above 2015-era draft: [https://tools.ietf.org/html/draft-ruby-url-problem-01](https://tools.ietf.org/html/draft-ruby-url-problem-01)
- - - -
Some may also be interested to peruse [Larry Masinter’s **many** _resource-name-related_ drafts and RFCs](https://datatracker.ietf.org/person/lmm@acm.org) that were written over a _20+ year_ period.

[2022-07-15 10:38] agowa338 commented on #577
First of all I like your approach.

But maybe to explain the reasoning behind this thing:

there could as well be a good usecase for adding lower layer protocol information ot hte RFC 3986 schema. The "+" could be defined as a delimiter for lower level protocols (But that wouldn't free us from having to change the authority parsing to allow for a more generic representation).
So standardizing the

[2022-07-17 02:09] Cristian12man opened #698 "aasasas"
https://url.spec.whatwg.org/commit-snapshots/4ef812c07d5f04c1316659146ef91ff8f7e96b38/#idl-index

[2022-07-19 19:59] thx1111 commented on #577
By the way, for a tool to monitor the data exchanged at a unix socket, on Linux, there is `sockdump.py`, from https://github.com/mechpen/sockdump, using an embedded "extended Berkeley Packet Filter" program.

And, to view the http server output from a unix socket on any browser, this single-line shell script, adapted from https://gist.github.com/Boldewyn/4311962, may be useful:
```sudo curl --unix

[2022-08-21 19:12] josephmturner commented on #335
When using @ShaneHudson's solution, be aware that `allValues.indexOf("Alice")` will return `-1` if no key/value pair exists for that value. If `query` did not contain any entries with the value `"Alice"`, then `allValues.splice(-1, 1)` would delete the last item in `allValues`, which is probably not what you want.

Here's a version which avoids this pitfall:

[code]

Another difference is that thi

[2022-08-21 21:44] aphillips commented on #626
W3C-I18N discussed this in our [teleconference of 2022-08-18](https://www.w3.org/2022/08/18-i18n-minutes.html#t06) and I drew an [action item](https://www.w3.org/International/track/actions/1188) to reply to this thread.

In general we agree with @annevk and @domenic's statements on this thread. If one applies Unicode normalization to a text file representing an HTML or CSS document, that can spoi

[2022-08-23 16:15] r12a commented on #626
FWIW, i uploaded a proposed rewrite of  https://www.w3.org/International/questions/qa-html-css-normalization to https://w3c.github.io/i18n-drafts/questions/qa-html-css-normalization.en.html.  If you have comments please send quickly so that we can proceed to publish.

[2022-08-24 00:29] favonia commented on #626
@r12a Thank you! I really like the improvement. Some nitpicking:

1. For the question "What are normalization forms?" the text did not say much about K. Personally I feel we could explain what it is and why it's bad, or outrightly discommend it (as in the answer to the other question, maybe with a link for interested readers).

2. In the question "Converting the normalization form of a page", I pe

[2022-08-24 15:45] r12a commented on #626
@favonia what name should i use for acknowledgements?

[2022-08-25 00:59] favonia commented on #626
I use "Kuen-Bang Hou (Favonia)" in my papers, so maybe just that. I'm also fine with no acknowledgement at all! Thanks. @r12a

[2022-08-28 15:44] jimmywarting opened #702 "[ideas] Get value as number, date & boolean"
just considered that input has things like `input.valueAsNumber` and `input.valueAsDate`
and i thought to my self, hmm why don't `URLSearchParams` have something like that?

`URLSearchParams.prototype.get` only return strings.
what would you think if URLSearchParams was extended to support getAsNumber and more?

[code]
[code]
[code]

[2022-08-30 10:45] alwinb commented on #479
To complete my remark above,

To be compatible with the whatwg, it is useful to distinguish two parsing behaviours:

1. URLs that always have a parsed aka. hierarchical path.
2. URLs that have an hierarchical path if the path starts with `/` and an opaque path otherwise.

I find it useful to complete the picture by adding a third: URLs that always have an opaque path (and no authority). This could

[2022-08-31 02:39] becarpenter commented on #479
I'm new here (since Larry Masinter mentioned this effort on a thread in the IETF). I want to point out that although the WHATWG web site claims to obsolete the IETF RFCs, it can't do that -- only the IETF can obsolete its own RFCs. So _whatever_ happens here, there will still be two (or maybe three) grammars until somebody reconciles them.
I have skin in the game. I'm a co-author of https://www.ie

[2022-08-31 10:38] karwa commented on #479
Not in the IETF's own sense of obsoletion, but it can indeed obsolete the IETF RFCs in the plain English sense of the word:

As you are no doubt aware from your work on zone-IDs, nobody can require browsers to support any particular technology in any particular form. For URLs, it happens that the IETF's approach is not compatible with the reality on the web; hence this standard was created, and th

[2022-08-31 11:31] bagder commented on #479
If this effort would "obsolete" (using any meaning of the word) the IETF RFC that covers a lot of URIs that WHATWG's document quite explicitly doesn't cover then where and what are the others? It would be a "partial" obsolete then... :grimacing:

[2022-08-31 13:48] johnwcowan commented on #479
That is the voice of power, which says "All of you must do as we think best; it is inconceivable that it should be otherwise".  The IETF does not have power; it has (Weberian rational/technical) authority, which is another matter.  Authority exists whether power respects it at any given moment or not (and, for example, the WHATWG has not attempted to redefine Unicode or TCP/IP in its particular st

[2022-08-31 15:44] alwinb opened #703 "Rephrase the stated goal of obsoleting RFC 3986 and RFC 3987"
The topmost goal of the WHATWG standard states:

I believe that it will be good for this standard to first discuss, and then rephrase this goal.

The goal as stated, is confusing; It is easy to read this to mean that the RFCs are no longer relevant and that there is a consensus across committees that the WHATWG standard is the one common URL standard. The WHATWG standard does not cover the same th

[2022-08-31 15:45] alwinb commented on #703
Motivated in part by the discussion in #479

[2022-08-31 15:59] alwinb commented on #479
This is not true: there is a logic to things that grow organically. There is some noise and randomness, but not nearly as much as you think. The challenge is to uncover it, rather than to create it.

The WHATWG URL standard can be very neatly characterised, it really isn't bad.

[2022-08-31 16:11] annevk commented on #479
@bagder what do you mean with "does not cover"? It covers all of them.

[2022-08-31 16:15] annevk commented on #703
You'll have to elaborate on what is confusing here. The idea is indeed that those particular RFCs are no longer relevant.

[2022-08-31 18:59] aucampia commented on #479
It technically can but I don't see how it has done this.

- https://docs.oracle.com/en/java/javase/18/docs/api/java.base/java/net/URL.html

   Also no mention of WHATWG.

- https://pkg.go.dev/net/url also has no mention of WHATWG, just IETF RFCs.

- https://docs.python.org/3/library/urllib.parse.html while this does at least mention WHATWG, it references the IETF RFCs significantly more.

- https:

[2022-08-31 19:24] masinter commented on #479
[My note](https://mailarchive.ietf.org/arch/msg/ietf/0nI-FStwIKn_YZxdr5KO-Y9tE7A/) cites Sam @rubys  [tweet](https://twitter.com/samruby/status/1547646134759305223). Has there been much progress getting browsers to implement this spec (7 years?)?

[2022-08-31 20:37] becarpenter commented on #479
Hi Larry,
I have no comments whatever here on "drop#" but I want to reply to your question as if it was about RFC6874 (except that has been pending for 9 years). No, it has not been implemented and for good reason: it specified something essentially unimplementable. We did a bad job. Hopefully, 6874bis is completely implementable. As was said upthread, it will only become running code if the brows

[2022-08-31 23:39] domenic commented on #479
There has indeed been significant convergence over the last 7 years. Most notably, WebKit/Safari is shipping a fully-compliant implementation. Server-side runtimes are probably the next most prominent; all notable JavaScript-based ones are compliant, and I believe I've heard of progress with others (e.g. Go, Java, PHP) but I am not as in-tune with those communities. Finally, Gecko/Firefox and Chro

[2022-08-31 23:58] becarpenter commented on #479
@masinter said

Indeed. We make exactly this point at https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-02.html#section-4-1 . IMNSHO the mania for mixing search and links in the same dialogue box has been disastrous and made the browser UI incomprehensible to normal brains. But that is a lost battle.

[2022-09-01 07:53] bagder commented on #479
Sorry. I was wrong.

I thought I read that  (and maybe I did but it has been edit out since). Or maybe I was just drunk. Still, the document mentions many schemes but only such that are/were ever supported by browsers.

I don't think the document is very clear about this fact (possibly caused by assumptions).

[2022-09-01 08:52] alwinb commented on #479
What happens if you parse any of the schemes listed at https://en.m.wikipedia.org/wiki/List_of_URI_schemes with the WHATWG parser?

Is the way in which non-special URLs are parsed so safe and generic that it won’t cause problems with any of them?

[2022-09-01 08:58] alwinb commented on #479
I’m sorry I actually wanted to say something in support of the WHATWG effort. Because it does provide in the needs of browsers, and the IETF never did that. There is progress on getting browsers aligned. So I don’t agree with the suggestion about authority and power, it doesn’t quite match the situation here.

[2022-09-01 14:46] annevk commented on #479
Yup, apart from certain edge case it should mostly match the RFC. It used to be worse and mostly divide the string up into a scheme and path, but that was a long time ago. (And even then it wouldn't really be incompatible as most schemes require post-processing of some kind anyway. You just end up with a different division of labor.)

[2022-09-01 14:49] johnwcowan commented on #479
Quite so, and so monopoly (oligopoly) power is advanced.  "People of the same trade seldom meet together, even for merriment and diversion, but the conversation ends in a conspiracy against the public, or in some contrivance to raise prices," as Adam Smith said.  The IETF is at most a conspiracy of individuals, and is not the agent of any such public harm.

[2022-09-01 17:30] karwa commented on #479
Let's try to avoid being overly dramatic, and assume that everybody participating in this process does so in good faith.

Nobody is going to get rich and powerful from a URL standard. Efforts like this arise from thoroughly boring technical considerations - data which is not processed consistently by applications, and a desire from engineers to ensure they are brought in to alignment.

To quote a

[2022-09-01 17:56] aucampia commented on #479
I'm sure people mostly care about compatibility, but the robustness principle has well known hazards [[draft-iab-protocol-maintenance-05](https://www.ietf.org/archive/id/draft-iab-protocol-maintenance-05.html)]. Maybe these hazards don't apply to some, but that does not mean they don't exist.

I want to understand and communicate what constitutes a valid URI, and I don't want to do this exclusivel

[2022-09-01 17:56] alwinb commented on #479
What if you start parsing them against a base URL? I mean, at a glance at least some are incompatible.
And their standard texts? I assume most of them reference specific parts of 3986. I'd be very surprised if they can use the standard as a drop-in replacement for the RFCs.

I can check for myself, of course.

[2022-09-01 18:16] alwinb commented on #479
Regarding this issue, there may be other options.

First, I suspect that the people that are asking for a formal grammar, would be somewhat satisfied also with a short, concise, and easy to follow parsing algorithm; one that is separate from resolution and normalisation.

It is also possible to specify the parser with a little bit of code that drives a DFA. Then you have a relatively small table a

[2022-09-01 18:40] alercah commented on #479
As the one who started this thread, I'd like to hook on this bit:

Indeed this would go a long way. One useful property of a BNF style grammar is that it allows people yo develop their own operations over URLs without needing a full implementation. For instance, to answer the question "is this a valid URL?" should not require normalisation, resolution, editing, or any knowledge of the various piec

[2022-09-01 20:00] masinter commented on #479
It would be great if, along the way, the browser and URL library/utility folks could settle on a way to represent IPv6 addresses in URLs, no matter what organizations publish what kind of specs.

Opinions on https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-02.html soon would be helpful.
This would be new behavior, but it seems more practical to not wait until users demand it.

[2022-09-01 20:54] becarpenter commented on #479
@masinter: exactly, thank you. The _requirement_ for rfc6874bis has come up as an issue against Firefox at https://bugzilla.mozilla.org/show_bug.cgi?id=700999 (and other browsers) from people who actually need it, and the reason for codifying it in an RFC is purely pragmatic. Obviously what really counts is getting it into code _because it's useful_ , not because it's been written down in ABNF. If

[2022-09-02 02:45] domenic opened #704 "It is unlikely that the spec's two definitions of valid URL strings are equal"
(Background note: _valid_ URL strings are completely different from _parseable_ URL strings. See https://url.spec.whatwg.org/#writing and https://url.spec.whatwg.org/#urls , especially the table in the latter, for background.)

The spec currently gives two ways of determining whether an input string is considered "valid":

- A string is a valid URL string if it follows the psuedo-grammar given in

[2022-09-02 02:46] domenic commented on #479
It's unclear if people here are aware, but the spec already gives a succinct grammar-like definition of "valid URL": see https://url.spec.whatwg.org/#url-writing . That is what [the first reply comment in this thread](https://github.com/whatwg/url/issues/479#issuecomment-619261520) was asking about.

Note that, as explained in https://url.spec.whatwg.org/#writing , this is unrelated to what URLs a

[2022-09-02 06:30] alwinb commented on #479
Just to be sure. Grammars do enable parsing. There’s an introduction to that in the section on Derivations and syntax trees on [Wikipedia][1]. I have always assumed that everybody here knows this.

[1]: https://en.m.wikipedia.org/wiki/Context-free_grammar

[2022-09-02 07:30] annevk commented on #704
The HTML Standard does the same thing for the HTML syntax. Mainly because it serves different audiences. I liked that idea and based this on that. I do agree that there is definitely a chance for issues and it would be nice to automatically check them both.

[2022-09-02 11:58] alercah commented on #704
This is an excellent point and really cuts, in a way, to the core of what #479 was originally about. Thank you!

Given that this is a well-explored area of theory, I think we can do better than a fuzzer and use a formally verified implementation of the parser. Then the spec could be arranged as follows, perhaps:

1. Make a formal grammar defining the valid URLs.
2. Add a section with a "web algori

[2022-09-02 12:11] alercah commented on #406
My 2c: This is an excellent example of an issue for which my opinion changes depending on whether this is in the context of a spec for a data format (the URL string) or for an API (the web API exposed by browsers).

In any particular API, I think named errors are excellent, and I would support adding them to the web API. By contrast, it's not immediately clear to me that there would be value in tr

[2022-09-02 12:15] alercah commented on #479
@domenic you're quite right, please forgive me for getting lost in the thread. But yes, while I did say that the current text does seem to have something resembling a grammar, because it does, when I was first looking into it I found it quite difficult to grok in the current presentation when I wanted to validate whether an implementation appeared to be following the spec. And that was certainly e

[2022-09-02 17:03] alwinb commented on #704
There is a lot of useful information in those comments. People are not just complaining, they are taking the time to think about this and they are providing constructive feedback.

I find this really nice. When a specification has both a formal grammar and an algorithm that matches it. And the courage to make the claim that they are equivalent. Multiple perspectives on the same thing help a lot of

[2022-09-02 20:39] becarpenter commented on #479
If an implementation is syntax-driven, like a recursive descent compiler, you can be _certain_ that it follows the grammar, which is really what @alwinb just implied is the benefit of a syntax-driven parser. It can still have broken semantics, though.
Do any of the major browsers work that way?

[2022-09-02 20:47] becarpenter commented on #392
Just noting that https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-02.html came out a while ago and is now in review by the appropriate IETF Area Director.

w.r.t. some of the comments above, getting rid of the percent-encoding seems to make the parsing issues quite a bit less thorny, but we really need implementers to look at that question.

[2022-09-07 08:14] alwinb commented on #479
@becarpenter This standard does not contain anything grammar-like for “parsing-valid” URLs.

So even if someone wanted to do a grammar driven parser, there would not be a grammar to base it on (unless they are willing to use mine).

For context: The parser accepts URL-strings that are not valid according to the standard, leading to the split concepts of _valid_ and _parsing-valid_.

I have seen th

[2022-09-10 01:25] TRowbotham opened #706 "Defered validation error reporting in IPv4 parser"
After #619, the [IPv4 parser](https://url.spec.whatwg.org/#concept-ipv4-parser) now only returns an IPv4 address or failure. Previously, it returned it's input instead of failure in many cases. The only call to the IPv4 parser is now guarded by the [ends-in-a-number-checker](https://url.spec.whatwg.org/#ends-in-a-number-checker), which makes the following note outdated:

The IPv4 parser essentiall

[2022-09-10 16:45] annevk commented on #706
Thank you, great report.

The IPv4 and IPv6 parsers should not be invoked directly. You always want to use the host parser. Perhaps we want to stress this some more somehow.

And yeah, I think doing away with the variable and reporting the validation error potentially a few more times is the way to go. This last bit seems like a "good first issue" for someone with some experience editing algorithm

[2022-09-10 22:08] TRowbotham commented on #706
Looking at this again, I don't think we can report validation errors directly in the [ipv4-number-parser](https://url.spec.whatwg.org/#ipv4-number-parser) as it is also used in Step 4 of [ends-in-a-number-checker](https://url.spec.whatwg.org/#ends-in-a-number-checker). Doing so would cause the same validation error to be emitted twice in an edge case such as `https://0xF`. Reporting the validation

[2022-09-11 10:46] alwinb commented on #703
It is confusing _and likely to upset people_.

From what I have read, the WHATWG standard was created because the IETF RFCs did not specify error recovery and did not match browser behaviour. It was created in response to the fact that changing browsers to match the RFCs wasn't feasible, and in addition to that, a lack of progress and the fact that nobody else with the IETF took on this task.

Ann

[2022-09-11 21:29] masinter commented on #703
I think the characterization of the root problem as one of "respect" and "giving credit" is dead wrong.
It's a disagreement about an engineering question about the applicability of the "Postel Principle" to one particular protocol element which has many roles outside of browsers and HTML.

URLs may seem to be just another part of the browser experience and for that application, perhaps it is usefu

[2022-09-11 23:08] karwa commented on #703
Then again, it appears that many non-browser applications deviate from the RFCs specifically to adopt lenient parsing behaviour from the web, as it can emerge in unexpected places. HTTP redirects, for instance, seem to come up often as a place where people see dodgy URLs/relative references.

So I'm not really sure that it is fair to characterise web-compatibility as "pain" and "suffering"; non-br

[2022-09-12 06:29] alwinb commented on #703
This is not at al what I tried to communicate.

I know you disagree about more tolerant parsing. But the way you've responded to that challenge is not functional. The current situation with two distinct standards that don't match each other, and don't specify how why and where they are different, is far worse than the thing you've been trying to avoid.

If you can't solve that disagreement, then a

[2022-09-12 22:09] becarpenter commented on #392
The relevant URI syntax update is now in IETF Last Call, i.e. the last opportunity for public comments: https://mailarchive.ietf.org/arch/msg/ietf-announce/BqBF9qvZ8qZR4ZPlawPvQSe0WbU/

[2022-09-21 08:22] annevk commented on #703
I think those who contributed to the RFCs are also mentioned in https://url.spec.whatwg.org/#acknowledgments. Not sure what makes you say they are not.

As for things the RFCs provide that this document does not, most of those are intentional design decisions. And we typically don't document those in the standards. If some concrete need for any of those can be shown that's open for reconsideration

[2022-09-22 18:09] alwinb commented on #703
The standard text does not communicate that you acknowledge, as in, are aware of, the structural design of the RFCs and the motivations behind that design.

It is strange to claim that you want to obsolete the RFCs and to then make a deliberate decision to not include important parts of what they cover.

The standard text does not mention this and does not provide a justification for that decision

[2022-09-22 18:30] masinter commented on #703
This seemed too coincidental, arriving in my mailbox:

https://www.washingtonpost.com/politics/2022/09/22/mozilla-report-takes-aim-tech-giants-grip-web-browsers/

but without malice or bias:

https://masinter.blogspot.com/2009/05/structural-bias-standards-and-elsewhere.html

[2022-09-23 08:50] annevk commented on #703
I don't think that belongs in a standard. I haven't seen this done in other standards efforts either.

I suspect we disagree on "important parts".

---

Perhaps there is another way to solve this. Do you have a suggested rephrasing of the current goal that would make this a bit more clear in your view?

[2022-09-23 11:26] silverwind commented on #354
The suggested approach does fail for certain properties like `origin`:

[code]

So back to clumsy string replacement it is, at least for replacing `origin`.

[2022-10-05 06:38] sodapple26 opened #708 "SA"

[2022-10-05 15:35] zloirock commented on #370
It could be useful for cloning via `structuredClone`.

[2022-10-06 01:11] becarpenter commented on #392
Worth mentioning that the draft has been updated following Last Call comments: https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-03.html

[2022-10-08 10:31] feliciousity opened #709 "URI is content"
https://url.spec.whatwg.org/commit-snapshots/d663e96158d90f690d028fefb28aa6d55c5af352/

[2022-10-10 06:08] pauluk20 opened #710 "SBLC"
NEED ISSUE SBLC

[2022-10-17 22:01] hemanth opened #713 "URL.canParse()"
It would be good to have a `URL.isValid` method?

Today we have to do something like:

[code]

The proposal is to have something like:

[code]

[code]

[2022-10-17 22:17] jasnell commented on #713
"Valid" here will need to be defined as the spec defines a clear notion of a "validation error". Specifically, a URL can parse successfully but still be considered "invalid" per the spec. Does "isValid(...) === true" mean that the URL parses successfully or does it mean it parsed without any validation errors?

[2022-10-17 22:24] jasnell commented on #713
As far as bikeshedding the API is concerned, I would likely prefer something more like:

[code]

With the semantics specifically only limited to: Will this parse successfully.

[2022-10-18 01:12] domenic commented on #713
Please see https://whatwg.org/faq#adding-new-features, especially step 1 and 2.

[2022-10-18 06:40] annevk commented on #713
How would that be different from what `new URL()` does?

[2022-10-18 12:43] jasnell commented on #713
The key difference would be no allocations, in particular no Error object created if it does not parse, and therefore no expensive stack capture.

[2022-10-30 19:32] becarpenter commented on #392
Another very minor update: https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-04.html

[2022-10-31 20:06] becarpenter commented on #392
Good catch. RFC4007 says nothing about case (in fact, it says nothing useful about the Zone ID string at all). Running code (a.k.a. ping on Linux) tells me that implementations are case-sensitive, which is of course the implication of saying nothing.
That sentence "The host subcomponent is case-insensitive." is tricky. It's appropriate when applied to a plain IPv6 address, since the hexadecimal ch

[2022-11-01 02:28] DemiMarie commented on #392
I recommend having the zone ID be case-sensitive, to reflect what current implementations do.

[2022-11-01 02:48] becarpenter commented on #392
I don't know how to do that without causing a major problem for the URI parsers in every browser.

[2022-11-01 17:47] DemiMarie commented on #392
Why would this cause such a problem?

[2022-11-01 19:21] karwa commented on #392
I don't think the problem is with browsers specifically.

The issue is that the new RFC is defined in terms of RFC-3986 and updates it, but 3986 makes quite a broad promise of hosts being case-insensitive. It does not even restrict this to certain _kinds_ of hosts - it just says "the host subcomponent". So it's extremely broad, and there may be applications which rely on that.

For example, imagin

[2022-11-01 19:31] becarpenter commented on #392
Thanks @karwa. I agree that any URI parser or decoder would have this problem, not just those in browsers. As soon as they have separated out the host part of the URI, any programmer will normalise the whole thing to lower case before analysing whether it's example.com, 1.2.3.4, [::abcd] or [::abcd%upper].
@DemiMarie is correct, I guess, that theoretically every parser *could* be hacked around to

[2022-11-02 02:09] becarpenter commented on #392
Just to confirm, for the case of wget (patched to support RFC6874bis), if I do

`wget http://[FE80::3e2a:fdff:fea4:dde7%WLP2S0]`

it responds

`Connecting to fe80::3e2a:fdff:fea4:dde7%wlp2s0|fe80::3e2a:fdff:fea4:dde7|:80... connected.`

In other words, wget normalises the host component to lower case, as expected.

(The patch to wget is at https://github.com/becarpenter/wget6)

[2022-11-02 21:05] karwa commented on #491
I'm experimenting with a new query params interface for my URL library, and I figured some of the ideas might be useful for future web APIs.

The model I'm going with is that, rather than "query parameters", this is modelled as a key-value string within an opaque URL component. A handful of components don't have any defined internal structure - that includes the query, but also the fragment, and w

[2022-11-03 06:05] annevk commented on #491
While in some sense appealing, I think there's real value in not generalizing delimiters as it makes it easier to interoperate across disparate endpoints.

[2022-11-03 14:44] karwa commented on #491
I agree; `&` and `=` are the default delimiters, and the vast majority of developers will never need to change them (or create a custom schema at all; they can use the built-in ones for form-encoding or percent-encoding). But I do think it has some small amount of value - `;` (semicolon) can be used sometimes as a delimiter between pairs, and I've seen applications which try all sorts of more exot

[2022-11-04 20:30] hemanth commented on #713
@domenic Should we provide more use-cases here? All that we are trying to solve here is to have a convenient way to identify if a given URL is valid or not.

@jasnell `test` reminds me of `RegExp.prototype.test` like testing against something, `isValid` sounds more intuitive?

Either way if we agree this is a problem space, happy to discuss more.

[2022-11-05 06:46] annevk commented on #713
@hemanth well it would help if you would first clarify what semantics you are after as validity and "can parse" are very different things.

[2022-11-05 12:42] jasnell commented on #713
The primary use case I've encountered for this is really functions like the isValid() in the OP at the top. Specifically, code that wishes to verify that a given input can be handled as a URL (can parse) without incurring the additional cost of creating either a URL object or an Error object with an expensive to generate stack. I've encountered this pattern a number of times.

Most often, I'd say,

[2022-11-05 21:45] hemanth commented on #713
@annevk My thoughts resonated completely with @jasnell. There is also `valid-url` another node module which is dependent on regex and got around `2,788,820` downloads last week.

This is a very common pattern across multiple code base and would be beneficial to multiple developers to have a connivence method with in the standards.

If there is a template repo that I can fork and add more structure

[2022-11-06 19:43] becarpenter commented on #392
New version of the draft today : https://www.ietf.org/archive/id/draft-ietf-6man-rfc6874bis-05.html
There's one change, adding a note that zone IDs with upper case letters won't work.
(That's an issue we can't fix, due to a shortfall in RFC4007.)

[2022-11-07 04:27] DemiMarie commented on #392
Would it be possible to make zone IDs with upper case letters an error?  That way if in the future it is possible to support them, it can be added backwards-compatibly.

[2022-11-07 04:44] martinetd commented on #392
Please don't. On linux it's just case sensitive, upper cases are not invalid per se.
It's perfectly possible (although I wouldn't recommend it) to create an interface wan0 and another interface Wan0 next to each other and you can ping fe80::1%wan0 and fe80::1%Wan0 to go through either interface appropriately. (You can also test with dummy interfaces and `ip link add Test type dummy` for example:
[

[2022-11-07 09:03] annevk commented on #713
See also #372 although that would not return a boolean presumably.

Given that there's popular libraries that do something like this this is worth doing I think, but this is not validation. We should either call this something like `canParse` and return a boolean or `parse` and return null or a `URL` object.

[2022-11-07 18:26] DemiMarie commented on #392
I still think parsers should be required to be case-sensitive here.  Case-preserving is the bare minimum.

[2022-11-07 19:26] becarpenter commented on #392
I'd be delighted if I thought that was reasonably possible, but having looked at some of the Firefox code, I really, really doubt it.

[2022-11-07 19:33] DemiMarie commented on #392
What would be required for it to work?  Major refactoring?

[2022-11-07 19:41] becarpenter commented on #392
You'd need to hop over to https://bugzilla.mozilla.org/show_bug.cgi?id=700999 and ask there.

[2022-11-07 23:47] ljharb commented on #713
That wouldn’t likely help you if an error is caught by a calling function, or an async function, or any of the Promise methods.

[2022-11-08 00:30] domenic commented on #713
Right, you would put the catch there immediately surrounding the new URL call, just like you would put the URL.isParseable call there immediately surrounding the string input.

[2022-11-08 00:37] jasnell commented on #713
I'd argue that it's definitely better to make capturing that stack more efficient just in general but I don't think that eliminates to usefulness of the proposed new API. For instance, suppose I am filtering a list of strings to acquire only the ones that are parseable URLs e.g. `array.filter(URL.isParseable)` is a lot more ergonomic than having to wrap the check in another function that includes

[2022-11-08 00:46] ljharb commented on #713
@domenic that would certainly be an interesting unobservable optimization, for a lot of patterns - but i don't think the real problem here is performance, it's ergonomics. try/catching something is a wildly icky way to get a boolean.

[2022-11-09 10:37] frank-dspeed opened #715 "Proposal: allow none network related urls"
# Enable Direct referencing browser components via url specifers
moved from:
- https://github.com/whatwg/fetch/issues/1535

Proposal: consider url parsing to be more flexible about colons in the protocol part of a url enabled Dynamic <borwsername>-extension:// protocol resolved via serviceWorker

we can also name this:

- Component based url specifiers
- none network related extension specifiers
-

[2022-11-09 10:50] annevk commented on #715
I'm sorry, but we're not changing how URL schemes are parsed. Again, I strongly encourage you to read through https://whatwg.org/faq#adding-new-features.

[2022-11-09 10:50] #715 closed

[2022-11-19 20:15] orvillelawrence72 commented on #245
What kind of phone is it coming  from or what game system

[2022-11-22 16:18] teetotum commented on #335
Today I discovered you can have multiple params with the same key. Today it popped up in my twitter time line: [post from Ryan Florence](https://twitter.com/ryanflorence/status/1594877443894042625) and [reply from Jake Archibald](https://twitter.com/jaffathecake/status/1594884305582706688) linking to an [article](https://jakearchibald.com/2021/encoding-data-for-post-requests/).
And today I needed

[2022-11-23 14:06] annevk commented on #335
If we do this we should also change `FormData` in the same way.

Since my last comment here I'm glad to see @thw0rted's comment about precedence in other code. I think ideally we have some more of that to ensure we're doing the right thing.

@valenting @domenic @tabatkins thoughts on adding this?

[2022-11-23 16:52] tabatkins commented on #335
Just to look for some more precedent:

* [C++'s std::multimap has an erase() method](https://en.cppreference.com/w/cpp/container/multimap/erase) which can either wipe all the values for a given key, or remove a *single* k/v pair at a particular position, so it counts as precedent
* We already saw the Java precedent, which offers "erase all" and "erase one" under different names
* [Scala has the ab

[2022-11-23 18:13] ShaneHudson commented on #335
Would there be no scope to pass an argument for removing all matching pairs with the default being singular (or vice versa)? I definitely think tbh the most common situation is that if someone has tried to remove a pair, they will expect the result to not have the pair.
On 23 Nov 2022, 4:53 PM +0000, whatwg/url ***@***.***>, wrote:

[2022-11-23 19:10] tabatkins commented on #335
I don't think there's a clear "most common" situation. For example, if you're using PHP it's common to have several inputs named `foo[]`, which will translate into  `$_GET['foo']` being an array of the values on the server-side, and it's not unreasonable for several of these to have the same value, too. I can easily imagine wanting to remove all the duplicate values or just a single one, depending

[2022-11-23 21:12] thw0rted commented on #335
I think every use case presented could be addressed with clean ergonomics, without changing the meaning of any current methods, by adding:

* `has(key, value)`: true if `key=value` is in the collection
* `delete(key, value)`: deletes one random pair (as with Guava MultiMap). Could maybe return count of remaining `key=value` pairs, or just `has(key,value)`, instead of `undefined`?
* `set(key, value

[2022-11-23 23:17] teetotum commented on #335
I created a [polyfill](https://www.npmjs.com/package/url-search-params-delete) to add support for `.delete(key,value)`
I think I will also add support for `.has(key,value)`

[2022-11-27 07:56] favonia commented on #626
Closing this issue because I believe there's nothing to do. :slightly_smiling_face:

[2022-11-27 07:56] #626 closed

[2022-11-29 22:51] tabatkins commented on #335
I'm trying to consider this in light of what an eventual JS multimap might look like too, so I'm assuming all use-cases are valid a priori right now.

My issue here is that the existing methods that duplicate Map methods all treat it like a normal Map, with a single value per key, while the methods that recognize this as a multimap all treat it like an ordered list of arbitrary values per key. If

[2022-11-30 09:28] ricea commented on #307
https://wpt.live/url/url-setters.any.html has tests that expect to be able to set a username and password on a javascript URL. This makes me uncomfortable. Do you want me to file a separate issue for it?

[2022-11-30 09:37] annevk commented on #335
We do that for the keys as well so I don't see why we wouldn't do the same for the values. If you really want delete-a-single-entry semantics it probably makes more sense to pass an index.

[2022-11-30 11:58] annevk commented on #307
@achristensen07 do you have thoughts on this? It seems WebKit might have inconsistent handling of `javascript:` URLs. E.g., on https://jsdom.github.io/whatwg-url/ `javascript://test:test` does not throw, but in `new URL()` it does. Contrast that with `test://test:test`.

@ricea I could see us making a distinct decision there (e.g., modifying "cannot have a username/password/port" to include the "`

[2022-11-30 17:37] tabatkins commented on #335
Apologies, I'm not sure what you mean by "we do that for the keys".